{% extends 'base.html' %}


{%block title%}Student Details{% endblock %}

{%block body%}


<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}
</style>

<br>

<div class="row ml-5 pt-5 pl-5">
	<div class="col-md-3">
		<div class="card card-body">

			<hr>
			<h3 style="text-align: center">{{get_details_student.student_name}}</h3>
			<hr>

            <img src="/media/uploads/student_user.png" class="rounded profile-pic" alt="user">
			<div class="container">
				<a class="btn btn-outline-info btn-sm" href="{% url 'change_stu_profile_by_it_service' get_details_student.id %}">Edit Profile</a>
			</div>


		</div>
	</div>
	<div class="col-md-6 ml-5 mr-5 pt-3">
		<div class="card card-body">
			<table class="table container">

			  <tbody>
				<tr>
				  <td>Student Name :</td>
				  <td>{{get_details_student.student_name}}</td>
				</tr>
				<tr>
				  <td>Student ID :</td>
				  <td>{{get_details_student.student_ID}}</td>
				</tr>
				<tr>
				  <td>Phone :</td>
				  <td>{{get_details_student.phone_number}}</td>
				</tr>
				<tr>
				  <td>Address :</td>
				  <td>{{get_details_student.address}}</td>
				</tr>
				<tr>
				  <td>Dob :</td>
				  <td>{{get_details_student.dob}}</td>
				</tr>

                <tr>
				  <td>Major :</td>
				  <td>
					{{get_details_student.major}}
				  </td>
				</tr>
				<tr>
				  <td>course :</td>
				  <td>
					  {% if Assign_student_to_courses_filter %}

					  {% for i in Assign_student_to_courses_filter %}
					  {{i.Course_Name.Course_Name}}</br>
					  {% endfor %}
					  {% else %}
					  No courses added
					  {% endif %}
				  </td>
				</tr>
                <tr>
				  <td>Email :</td>
				  <td>
					  {% if get_student_email %}

					  {% for i in get_student_email %}
					  {{i.Student_email}}</br>
					  {% endfor %}
					  {% else %}
					  No Email added
					  {% endif %}
				  </td>
				</tr>


			  </tbody>
			</table>
		</div>
</br></br>




	</div>
</div>


{% endblock %}